rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /reports/{reportId} {
      allow read: if true;
      allow create: if request.auth != null
        && request.resource.data.uid == request.auth.uid
        && request.resource.data.title is string
        && request.resource.data.title.size() > 0
        && request.resource.data.title.size() <= 80
        && request.resource.data.details is string
        && request.resource.data.details.size() <= 500
        && request.resource.data.latitude is number
        && request.resource.data.longitude is number;
      allow update, delete: if request.auth != null
        && resource.data.uid == request.auth.uid;
    }

    match /users/{userId}/saved_places/{placeId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
